AZURE-STORAGE-ACCOUNT/.terraform.lock.hcl
AZURE-STORAGE-ACCOUNT/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/LICENSE.txt
AZURE-STORAGE-ACCOUNT/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/terraform-provider-azurerm_v4.8.0_x5
AZURE-STORAGE-ACCOUNT/plan.out
AZURE-STORAGE-ACCOUNT/terraform.tfstate
AZURE-STORAGE-ACCOUNT/terraform.tfstate.backup
AWS-BUCKET/.terraform.lock.hcl
AWS-BUCKET/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/LICENSE.txt
AWS-BUCKET/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/terraform-provider-aws_v5.74.0_x5
AWS-BUCKET/plan.out
AWS-BUCKET/terraform.tfstate
AWS-BUCKET/terraform.tfstate.backup
AWS-AZURE-REMOTE-STATE/.terraform.lock.hcl
AWS-AZURE-REMOTE-STATE/plan.out
AWS-AZURE-REMOTE-STATE/terraform.tfstate
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/LICENSE.txt
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/terraform-provider-aws_v5.74.0_x5
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/LICENSE.txt
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/terraform-provider-azurerm_v4.8.0_x5
AWS-VPC/.terraform.lock.hcl
AWS-VPC/plan.out
AWS-VPC/.terraform/terraform.tfstate
AWS-VPC/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/LICENSE.txt
AWS-VPC/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/terraform-provider-aws_v5.74.0_x5
AZURE-VNET/.terraform.lock.hcl
AZURE-VNET/.terraform/terraform.tfstate
AZURE-VNET/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/LICENSE.txt
AZURE-VNET/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/terraform-provider-azurerm_v4.9.0_x5
AZURE-VNET/plan.out
AWS-VM-COM-VPC-REMOTE-STATE/aws-key
AWS-VM-COM-VPC-REMOTE-STATE/aws-key.pub
AWS-VM-COM-VPC-REMOTE-STATE/.terraform.lock.hcl
AWS-VM-COM-VPC-REMOTE-STATE/.terraform/terraform.tfstate
AWS-VM-COM-VPC-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/LICENSE.txt
AWS-VM-COM-VPC-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/terraform-provider-aws_v5.75.1_x5
AZURE-VM/.terraform.lock.hcl
AZURE-VM/azure-key
AZURE-VM/azure-key.pub
AZURE-VM/.terraform/terraform.tfstate
AZURE-VM/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/LICENSE.txt
AZURE-VM/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/terraform-provider-azurerm_v4.9.0_x5
AZURE-VM/plan.out
AWS-VM-PROVISIONERS/aws-key
AWS-VM-PROVISIONERS/aws-key.pub
AWS-VM-PROVISIONERS/.terraform/terraform.tfstate
AWS-VM-PROVISIONERS/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/LICENSE.txt
AWS-VM-PROVISIONERS/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/terraform-provider-aws_v5.75.1_x5
AWS-VM-PROVISIONERS/.terraform.lock.hcl
AWS-VM-PROVISIONERS/plan.out
AZURE-VM-PROVISIONERS/azure-key
AZURE-VM-PROVISIONERS/azure-key.pub
AZURE-VM-PROVISIONERS/.terraform.lock.hcl
AZURE-VM-PROVISIONERS/plan.out
AZURE-VM-PROVISIONERS/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/LICENSE.txt
AZURE-VM-PROVISIONERS/.terraform/terraform.tfstate
AZURE-VM-PROVISIONERS/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/terraform-provider-azurerm_v4.9.0_x5
AWS-VM-USER-DATA/aws-key
AWS-VM-USER-DATA/aws-key.pub
AWS-VM-USER-DATA/.terraform/terraform.tfstate
AWS-VM-USER-DATA/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/LICENSE.txt
AWS-VM-USER-DATA/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/terraform-provider-aws_v5.75.1_x5
AWS-VM-USER-DATA/.terraform.lock.hcl
AWS-VM-USER-DATA/plan.out
AZURE-VM-CUSTOM-DATA/azure-key
AZURE-VM-CUSTOM-DATA/azure-key.pub
AZURE-VM-CUSTOM-DATA/.terraform.lock.hcl
AZURE-VM-CUSTOM-DATA/plan.out
AZURE-VM-CUSTOM-DATA/.terraform/terraform.tfstate
AZURE-VM-CUSTOM-DATA/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/LICENSE.txt
AZURE-VM-CUSTOM-DATA/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/terraform-provider-azurerm_v4.9.0_x5
AWS-VM-MODULOS-LOCAIS/aws-key
AWS-VM-MODULOS-LOCAIS/aws-key.pub
AWS-VM-MODULOS-LOCAIS/.terraform.lock.hcl
AWS-VM-MODULOS-LOCAIS/.terraform/terraform.tfstate
AWS-VM-MODULOS-LOCAIS/.terraform/modules/modules.json
AWS-VM-MODULOS-LOCAIS/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/LICENSE.txt
AWS-VM-MODULOS-LOCAIS/.terraform/providers/registry.terraform.io/hashicorp/aws/5.75.1/linux_amd64/terraform-provider-aws_v5.75.1_x5
AWS-VM-MODULOS-LOCAIS/plan.out
AZURE-VM-MODULOS-REMOTOS/azure-key
AZURE-VM-MODULOS-REMOTOS/azure-key.pub
AZURE-VM-MODULOS-REMOTOS/.terraform.lock.hcl
AZURE-VM-MODULOS-REMOTOS/plan.out
AZURE-VM-MODULOS-REMOTOS/.terraform/terraform.tfstate
AZURE-VM-MODULOS-REMOTOS/.terraform/modules/modules.json
AZURE-VM-MODULOS-REMOTOS/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.49.0/linux_amd64/terraform-provider-azurerm_v3.49.0_x5
data-source-azure-storage-account/.terraform/terraform.tfstate
data-source-azure-storage-account/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.10.0/linux_amd64/LICENSE.txt
data-source-azure-storage-account/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.10.0/linux_amd64/terraform-provider-azurerm_v4.10.0_x5
data-source-azure-storage-account/.terraform.lock.hcl
aws-azure-vms/aws-key
aws-azure-vms/aws-key.pub
aws-azure-vms/azure-key
aws-azure-vms/azure-key.pub
aws-azure-vms/.terraform/terraform.tfstate
aws-azure-vms/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
aws-azure-vms/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
aws-azure-vms/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.10.0/linux_amd64/LICENSE.txt
aws-azure-vms/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.10.0/linux_amd64/terraform-provider-azurerm_v4.10.0_x5
aws-azure-vms/.terraform.lock.hcl
aws-azure-vms/plan.out
