AZURE-STORAGE-ACCOUNT/.terraform.lock.hcl
AZURE-STORAGE-ACCOUNT/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/LICENSE.txt
AZURE-STORAGE-ACCOUNT/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/terraform-provider-azurerm_v4.8.0_x5
AZURE-STORAGE-ACCOUNT/plan.out
AZURE-STORAGE-ACCOUNT/terraform.tfstate
AZURE-STORAGE-ACCOUNT/terraform.tfstate.backup
AWS-BUCKET/.terraform.lock.hcl
AWS-BUCKET/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/LICENSE.txt
AWS-BUCKET/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/terraform-provider-aws_v5.74.0_x5
AWS-BUCKET/plan.out
AWS-BUCKET/terraform.tfstate
AWS-BUCKET/terraform.tfstate.backup
AWS-AZURE-REMOTE-STATE/.terraform.lock.hcl
AWS-AZURE-REMOTE-STATE/plan.out
AWS-AZURE-REMOTE-STATE/terraform.tfstate
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/LICENSE.txt
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/terraform-provider-aws_v5.74.0_x5
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/LICENSE.txt
AWS-AZURE-REMOTE-STATE/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/linux_amd64/terraform-provider-azurerm_v4.8.0_x5
AWS-VPC/.terraform.lock.hcl
AWS-VPC/plan.out
AWS-VPC/.terraform/terraform.tfstate
AWS-VPC/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/LICENSE.txt
AWS-VPC/.terraform/providers/registry.terraform.io/hashicorp/aws/5.74.0/linux_amd64/terraform-provider-aws_v5.74.0_x5
